html {
  height: 100%;

  /* Prevent zooming of text when rotating to landscape. */
  -webkit-text-size-adjust: 100%; /* iPhone */
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

blockquote {
  margin: 0;
  padding: 10px 0;
}

.info-window-heading {
  font-weight: bold;
}

.info-status {
  color: #ccc;
  margin: 0;
  padding: 10px 0;
}

.info-window-citation::before {
  content: 'Source: ';
}

.filter-menu-list {
  padding: 0;
  margin: 0 -10px; /* Left/right margin should be negative of padding in parent */
  border-top: 3px groove #d4d0be;
  overflow-y: auto;
  height: 100%;
}

.filter-menu-list-item {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #d4d0be;
  cursor: pointer;
}

.selected {
  background-color: #fff;
}

.filter-menu-list-item:first-child {
  border-top: none;
}

#filter-menu-list-wrapper {
  background-color: #f1eddb;
  padding: 10px 10px 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  /*border-radius: 10px;*/
  width: 215px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

#filter-menu {
  box-sizing: border-box;
  transform: translate3d(-215px, 0, 0);
  height: 100%;
  display: flex;
  align-content: flex-start;
  position: absolute;
  /*left: 10px;
  top: 10px;*/
  overflow: hidden;
  /*padding: 10px 20px 20px 10px;*/ /* Right and bottom account for drop-shadow on child */
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.3, 1);
}

#filter-menu.open {
  transform: translate3d(0, 0, 0);
}

#filter-input {
  width: 100%;
  margin: 0 0 10px;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


#info-window-content {
  width: 300px;
}

#burger-button-wrapper {
  overflow: hidden;
  height: 70px;
  width: 70px;
  padding: 10px 10px 10px 0;
}

/* CSS-styled burger icon inspired by burger icon on Chromecast site
   https://www.google.com/intl/en_us/chromecast/speakers/#?discover */
#burger-button  {
  cursor: pointer;
  display: block;
  background: rgb(241, 237, 219);
  border: none;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  padding: 25px 20px 15px;
  color: #000;
  text-align: center;
  width: 30px;
  height: 30px;
}

/* Middle line */
.burger-button-div {
  display: inline-block;
  right: 0;
  top: 0;
  height: 3px;
  width: 30px;
  background: #77787b;
  vertical-align: middle;
}

/* Top line */
.burger-button-div::before {
  transform: translateY(-6px);
  transform-origin: 17px 0;
  background: #77787b;
  content: '';
  display: block;
  height: 3px;
  width: 30px;
}

/* Bottom line */
.burger-button-div::after {
  transform: translateY(3px);
  transform-origin: 9px -1px;
  background: #77787b;
  content: '';
  display: block;
  height: 3px;
  width: 30px;
}